* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  cursor: default;
  background-color: #F0F0F0;
  color: #1C1C1A;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);  /* optional drop shadow */
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

#pianoRollContainer {
  display: flex;
  flex-wrap: wrap;
}

#pianoRollContainer.col {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 28%;
  height: calc(100vh - 205px);
  overflow-y: scroll;
}

.selected-container_onn {
  width: 70%;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #F0F0F0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button {
  /* ... existing button styles ... */
  border-bottom: 3px solid #381815;  /* A darker shade for 3D effect */
  position: relative;  /* Required for the top movement on hover */
  transition: all 1.1s ease;  /* Transition for all properties */
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
}

.piano-roll-svg {
  border: 2px solid #381815;
  border-radius: 16px;
  margin-top: 8px;
}

.piano-roll-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 23%;
  margin: 0 1% 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
}

.piano-roll-card:hover {
  box-shadow: 0 0 10px 0 #0000001f;
}

.piano-roll-card.hide {
  display: none;
}

#pianoRollContainer.col .piano-roll-card {
  width: 100%;
  margin: 0 0 10px;
}

.selected-container_onn .piano-roll-card {
  width: 100%;
  margin: 0;
  padding: 16px;
  box-shadow: 0 0 10px 0 #0000001f;
}

.selected-container_onn .description {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.selected-container_onn .piano-roll-card .piano-roll-svg {
  height: calc(100vh - 300px);
  width: 100%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  #pianoRollContainer.col,
  .selected-container_onn {
    width: 100%;
  }

  #pianoRollContainer.col {
    margin-top: 24px;
  }

  .piano-roll-card {
    width: 48%;
  }
}

@media (max-width: 900px) {
  .piano-roll-card {
    width: 100%;
    margin: 0 0 10px;
  }
}

#selection-area {
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px dashed #000;
  display: none;
}

#cursor-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: red;
  display: none;
  transition: left 0.1s ease-out;
}